{%extends 'base.html' %}
{% load static %}
{% block title %}About BCCLC{% endblock %}


{% block content %}
<!-- <a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a> -->
<!-- <a href="/">Home</a> | <a href="/about/">About</a> -->



About Page!!
<br/>
{{my_name}}
<br/>

{% if 2 > 1 %}
    HELLO!
{% else %}
    Goodbye!
{% endif %}
<br/><br/><br/>
<b>Mission</b><br/>
<p>For students to receive so much more than an ordinary education. We aim ourselves on creating a unique,<br/>
    exciting environment that embraces all types of learners and promotes growth both academically, spiritually, <br/>
    and personally. Students and families are also welcome into our dynamic and supportive institution.<br/><br/><br/></p>
<b>Vision</b><br/>
<p>A Child Today, A Godly Leader Tomorrow.<br/></p>
<br/><br/><br/>
<b>Contact Us</b><br/>
<p>Tel.# (088) 828 7721</br>
0995-100-8190 | 0906-827-4171<br/>email:brookcherith.clc@gmail.com</br></p>

{% endblock %}