{%extends 'base.html' %}
{% load static %}
{% block title %}Product Lists{% endblock %}

{% block content %}
<br/>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Student ID</th>
        <th scope="col">Complete Name</th>
        <th scope="col">Grade Level-Section</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1001</th>
        <td>Lacuesta, Richard Fritz</td>
        <td>Grade 6 - Joshua</td>
        <td>11</td>
        <td>Batangan, Valencia City, Bukidnon</td>
      </tr>
      <tr>
        <th scope="row">1002</th>
        <td>Francisco, John Wyn</td>
        <td>Grade 6 - Joshua</td>
        <td>11</td>
        <td>Purok 10, Poblacion, Valencia City, Bukidnon</td>
      </tr>
      <tr>
        <th scope="row">1003</th>
        <td>Rondina, Khient Zandrix</td>
        <td>Grade 5 - Deuteronomy</td>
        <td>10</td>
        <td>Dagatkidavao, Valecnia City, Bukidnon</td>
      </tr>
    </tbody>
  </table>
  
  

{% endblock %}